<nav class="nav-bar">
    <div class="nav-brand">
        <a routerLink="/home"><img class="logo" src="assets/relantologo.jpg"></a>
    </div>
    <div class="nav-items">
        <ul class="nav-list">
            <li class="nav-links"><a routerLink="/home">Home</a></li>
            <li class="nav-links"><a routerLink="/login">Login</a></li>
            <li class="nav-links"><a routerLink="/admin/admin-home">Admin</a></li>
            <!-- <li class="nav-links"><a routerLink="/logout">Logout</a></li> -->
        </ul>
    </div>
</nav>