<div id="banner">
    <h1>Welcome Admin</h1>
</div>
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2>Register Employee</h2>
            <div class="button-container" >
                <button type="button" routerLink="/admin/register-emp" class="button">Register Now</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Admin Dashboard</h2>
            <div class="button-container">
                <button  type="button" routerLink="/admin/admin-dashboard"  class="button">Access Dashboard</button>
            </div>
        </div>
    </div>
</div>
