<!-- app.component.html -->

<div class="container">
    <header>
      <h1>Welcome To Relanto.AI</h1>
      <p>Your Trusted Source for Web Development</p>
    </header>
  
    <section class="features">
      <div class="feature" routerLink="/web-development">
        <i class="fas fa-laptop-code"></i>
        <h2>Web Development</h2>
        <p>We create modern and responsive web applications to meet your needs.</p>
      </div>
  
      <div class="feature" routerLink="/mobile">
        <i class="fas fa-mobile-alt"></i>
        <h2>Mobile Apps</h2>
        <p>Our mobile app developers can bring your ideas to life on iOS and Android.</p>
      </div>
  
      <div class="feature">
        <i class="fas fa-chart-bar"></i>
        <h2>Artificial Intelligence</h2>
        <p>Improve your website's visibility and performance with our AI services.</p>
      </div>
    </section>
  
    <section class="testimonial">
      <h2>What Our Clients Say</h2>
      <div class="quote">
        <p>"Working with this team has been a great experience. They delivered top-notch results on time and within budget."</p><br>
        <p class="author">Venkateswarlu Reddy, CEO</p>
      </div>
    </section>
  
    <footer>
      <p>&copy; 2023 Relanto.ai</p>
    </footer>
  </div>
  